<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BookStore" providerName="System.Data.SqlClient" connectionString="Data Source=pc-liuxing\sqlexpress;Initial Catalog=Lab;User ID=sa;Password=123;Persist Security Info=True;"/>
  </connectionStrings>
</configuration>